body,html {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'MicrosoftYaHe';
}
#root{
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* 弹出框title的样式      cq */
.ant-modal-header{
  height:40px;
  line-height: 40px;
  background: #f2f2f2;
  padding:0;
}
.ant-modal-title{
  font-size: 14px;
  line-height: 40px;
  color:#333333;
  padding-left:20px;
}
.ant-modal-close-x{
  line-height: 40px;
  width:40px;
  height:40px;
}
.redColor{
  color: #f00;
  
} 
.ant-modal-footer{
  text-align: center;
}

.ant-table-thead > tr > th{
  background: #F1F2F4!important
}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td{
  padding:0!important;
  height:38px!important;
  
}
.ant-table-thead > tr > th{
  font-size: 13px!important;
}
.ant-table-tbody > tr > td{
  font-size: 12px!important;
  border-bottom: 1px solid #f2f2f2;
}
.ant-modal-header{
  border-bottom:transparent
}
/* 给tabel-header下线去掉加上上线------佳伟叫加的 */
.ant-table-thead > tr > th{border-bottom: none;border-top:1px solid #e8e8e8}
.ant-table-scroll table .ant-table-fixed-columns-in-body{
  visibility: visible
}